# Laravel
/backend/vendor/
backend/.env
backend/storage/
backend/bootstrap/cache/

# Vue.js
/frontend/node_modules/
frontend/dist/
frontend/.env

# Arquivos de sistema
.DS_Store
Thumbs.db

# Docker
/docker-compose.override.yml
.env